@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700");

.proj-container {
  width: 29.33%;
  height: 350px;
  background-color: #000;
  margin: 5% 2%;
  transform: scale(1);
  position: relative;
  display: block;
  float: left;
  transition: all 0.25s linear;
}
#proj1 .proj_bg {
  width: 100%;
  height: 100%;
  background-color: #597081;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s linear;
  -webkit-box-shadow: 5px 5px 5px #473144;
  -moz-box-shadow: 5px 5px 5px #473144;
  box-shadow: 5px 5px 5px #473144;
}
#proj1 .proj_title {
  width: 300px;
  height: 25%;
  background-color: #151226;
  z-index: 2;
  position: absolute;
  right: -15px;
  top: 15px;
  display: flex;
  align-items: center;
  transition: all 0.4s linear;
}
#proj1 .proj_title p {
  letter-spacing: 1.5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #de7bff;
  padding-left: 20px;
  font-size: 20px;
}
#proj1 .proj_desc {
  width: 250px;
  height: 10%;
  border: 1em;
  background-color: #c300ff;
  z-index: 2;
  position: absolute;
  right: -15px;
  top: 85px;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: all 0.25s linear;
  box-shadow: -5px 5px 15px #2d2f3a;
}
#proj1 .proj_desc p {
  font-family: arial;
  color: #eceff1;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
#proj1 .proj_info {
  position: absolute;
  bottom: 5%;
  left: -2.1%;
  opacity: 0.8;
  background-color: #151226;
  padding: 3.2%;
  width: 70%;
  height: 80%;
  opacity: 0;
  transition: all 0.35s linear 0.1s;
  transform-origin: center center;
  box-shadow: -5px 5px 15px #473144;
}
#proj1 .proj_info p {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #de7bff;
  font-weight: 700;
  line-height: 1.25;
}
#proj1:hover {
  cursor: pointer;
}
#proj1:hover .proj_title {
  top: -10px;
  right: -20px;
  height: 15%;
  width: 300px;
}
#proj1:hover .proj_desc {
  opacity: 0;
}
#proj1:hover .proj_info {
  opacity: 1;
}

.project-link {
  color: #de7bff;
  text-decoration: underline;
}

.font-style-header-project {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
}

.limit {
  min-height: 280px;
  white-space: pre-line;
  float: left;
}

@media screen and (max-width: 600px) {
  .proj-container {
    width: 49.33%;
    height: 350px;
  }

  #proj1 .proj_title {
    width: 200px;
    height: 25%;
  }
  #proj1 .proj_bg {
    width: 180%;
  }
  #proj1 .proj_desc {
    width: 150px;
    height: 10%;
  }
  #proj1 .proj_info {
    width: 90%;
    height: 80%;
  }
  #proj1 .proj_info p {
    font-size: 10px;
  }
  #proj1:hover .proj_title {
    top: -10px;
    right: -20px;
    height: 15%;
    width: 200px;
  }
}

.project-list {
  padding: 0.2em;
  margin-left: 0.5em;
}

.project-back-img {
  max-width: 100%;
  max-height: 100%;
}
